.errorContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .errorContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eec4d0;
    border: 2px solid #10162f;
    padding: 0.125rem;
    border-radius: 0.5rem;

    .errorLabel {
      font-size: calc(12px + 0.5vmin);
      font-weight: 500;
      text-align: center;
      color: #10162f;
      margin: 1rem;
    }
  }
}
