.searchContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  max-width: 40rem;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.search {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #10162f;
  font-size: calc(12px + 0.5vmin);
  &:focus {
    outline: none;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
