.gridItem {
  background-color: #ffffff;
  border: 2px solid #10162f;
  border-radius: 16px;
  background-color: #daf5f0;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  margin-bottom: 1rem;
  
  @media (max-width: 768px) {
    padding: 24px 32px;
  }
}
.divider {
  margin: 1rem 0;
  border-bottom: 2px solid #10162f; 
}

.label {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}